<!DOCTYPE html>
<html lang="en"<% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta property="og:title" content="Walturn Demo" />
  <meta property="og:url" content="https://walturndemo.firebaseapp.com/" />
  <meta property="og:description" content="Netflix Demo" />
  <meta property="og:type" content="website" />
  <meta name="theme-color" content="black">
  <meta name="apple-mobile-web-app-title" content="Walturn-Demo">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#333333">
  <link rel="shortcut icon" href="<%- require('assets/media/icons/favicon.ico') %>">
  <link rel="icon" type="image/png" href="<%- require('assets/media/icons/favicon-16x16.png') %>" sizes="16x16">
  <link rel="icon" type="image/png" href="<%- require('assets/media/icons/favicon-32x32.png') %>" sizes="32x32">
  <link rel="apple-touch-icon" sizes="180x180" href="<%- require('assets/media/icons/apple-touch-icon.png') %>">
  <link rel="mask-icon" href="<%- require('assets/media/icons/safari-pinned-tab.svg') %>" color="#764abc">
  <% require('assets/media/icons/icon-96x96.png') %>
  <% require('assets/media/icons/icon-144x144.png') %>
  <% require('assets/media/icons/icon-192x192.png') %>
  <% require('assets/media/icons/icon-512x512.png') %>
  <% require('assets/media/images/og-image-v1.png') %>
  <% if (htmlWebpackPlugin.options.baseHref) { %>
  <base href="<%= htmlWebpackPlugin.options.baseHref %>" />
  <% } %>
  <style type="text/css">.app { opacity: 0; }</style>
</head>
<body>
<div id="react" style="min-height: 100vh;">
  <style type="text/css">
    html {
      -webkit-font-smoothing: antialiased;
      font-size: 10px;
      font-family: Roboto, sans-serif;
      box-sizing: border-box
    }
    body {
      background-color: black;
      font-size: 14px;
      line-height: 1.4;
      color: #595959
    }
    *, :after, :before {
      box-sizing: inherit
    }
    .loader {
      position: absolute;
      left: 50%;
      top: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 256px;
    }
    .loader > svg {
      height: 100%;
      width: 100%;
    }
    .logo polygon {
      -webkit-animation: swap-colors 2s infinite;
      animation: swap-colors 2s infinite;
    }
    polygon.path-2 {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
    }
    polygon.path-3 {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
    polygon.path-4 {
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s;
    }

    .unsupported-browser {
      background-color: #2b9591;
      color: #fff;
      padding: 1.5rem 3rem;
      position: absolute;
      top: 0;
      left: 50%;
      max-width: 90%;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .unsupported-browser a {
      color: #5fd9b4;
    }
    #message {
      bottom: 5%;
      padding: 0 5rem;
      position: absolute;
      text-align: center;
      width: 100%;
    }
    @-webkit-keyframes swap-colors {
      0% {
        fill: #00d8ff;
      }

      25% {
        fill: #764abc;
      }

      50% {
        fill: #ff0090;
      }

      75% {
        fill: #cd0423;
      }
    }
    @keyframes swap-colors {
      0% {
        fill: #00d8ff;
      }

      25% {
        fill: #764abc;
      }

      50% {
        fill: #ff0090;
      }

      75% {
        fill: #cd0423;
      }
    }
  </style>
  <div class="loader">
    <svg xmlns="http://www.w3.org/2000/svg" width="1024" height="276.742" viewBox="0 0 1024 276.742"><path d="M140.803 258.904c-15.404 2.705-31.079 3.516-47.294 5.676l-49.458-144.856v151.073c-15.404 1.621-29.457 3.783-44.051 5.945v-276.742h41.08l56.212 157.021v-157.021h43.511v258.904zm85.131-157.558c16.757 0 42.431-.811 57.835-.811v43.24c-19.189 0-41.619 0-57.835.811v64.322c25.405-1.621 50.809-3.785 76.482-4.596v41.617l-119.724 9.461v-255.39h119.724v43.241h-76.482v58.105zm237.284-58.104h-44.862v198.908c-14.594 0-29.188 0-43.239.539v-199.447h-44.862v-43.242h132.965l-.002 43.242zm70.266 55.132h59.187v43.24h-59.187v98.104h-42.433v-239.718h120.808v43.241h-78.375v55.133zm148.641 103.507c24.594.539 49.456 2.434 73.51 3.783v42.701c-38.646-2.434-77.293-4.863-116.75-5.676v-242.689h43.24v201.881zm109.994 49.457c13.783.812 28.377 1.623 42.43 3.242v-254.58h-42.43v251.338zm231.881-251.338l-54.863 131.615 54.863 145.127c-16.217-2.162-32.432-5.135-48.648-7.838l-31.078-79.994-31.617 73.51c-15.678-2.705-30.812-3.516-46.484-5.678l55.672-126.75-50.269-129.992h46.482l28.377 72.699 30.27-72.699h47.295z" fill="#d81f26"/>
    </svg>
  </div>
</div>

<% if (htmlWebpackPlugin.options.appMountIds && htmlWebpackPlugin.options.appMountIds.length > 0) { %>
<% for (var index in htmlWebpackPlugin.options.appMountIds) { %>
<div id="<%= htmlWebpackPlugin.options.appMountIds[index] %>"></div>
<% } %>
<% } %>

<% if (htmlWebpackPlugin.options.window) { %>
<script>
  <% for (var varName in htmlWebpackPlugin.options.window) { %>
  window['<%= varName %>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
  <% } %>
</script>
<% } %>

<script>
  // lazy load the stylesheet file
  var cb = function() {
    var l = document.createElement('link');
    l.rel = 'stylesheet';
    l.href = '<%= htmlWebpackPlugin.files.css[0] %>';
    var h = document.getElementsByTagName('head')[0];
    h.parentNode.insertBefore(l, h);
  };
  var raf = window.requestAnimationFrame ||
    window.mozRequestAnimationFrame ||
    window.webkitRequestAnimationFrame ||
    window.msRequestAnimationFrame;
  if (raf) {
    raf(cb);
  }
  else {
    window.addEventListener('load', cb);
  }
</script>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

<% if (htmlWebpackPlugin.options.googleAnalytics) { %>
<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');


  <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
  ga('create', '<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>', 'auto');
  <% } else {
    throw new Error("html-webpack-template requires googleAnalytics.trackingId config");
  } %>

  <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
  ga('send', 'pageview');
  <% } %>
</script>
<% } %>
<noscript>
  <div class="no-script">This website need Javascript. Please turn it on.</div>
</noscript>
</body>
</html>
